---
//Componets
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { Icon } from 'astro-icon/components';
import Footer from '../components/Footer.astro';

// Media
import PhotoMe from '../Media/me.jpg';
import { Image } from 'astro:assets';

---


<Layout title="Nicolas Torres 👋">
	<main>
		<div class="grid grid-flow-row grid-cols-2 justify-items-stretch mt-10 mb-15">
			<div>
				<h1 class="mt-20 ">Hi, I’m <span class="bg-gradient-to-r from-orange-300 from-20% via-amber-500 to-orange-700 inline-block text-transparent bg-clip-text">
					Nicolas
					</span>
				</h1>
			</div>
			<div class="col-span-1 ">
				<Image class="size-40 rounded-full ms-auto shadow-lx dark:shadow-sky-400" src={PhotoMe} alt="image description"></Image>
			</div>
		</div>
		<p class="mb-10 mt-10 p-3 text-center italic">
			Greetings! 👋 I'm a junior <a class="text-orange-500">software developer</a> proficient in Java, JavaScript,<br/>
			 Node, React, and Linux. My dedication to excellence and passion for staying 
			 current in the ever-evolving tech landscape drive my contributions to each project.
			  <a class="underline decoration-green-700">Let's build something amazing together!<a/>
			
		</p>
		
		<div class=" mb-10 flex flex-row">
				<div class="ml-3 outline outline-offset-0 outline-orange-300 rounded-full py-1 px-4 outline-1 flex flex-row">
					<Icon class="iconcenter" name="mdi:linkedin" />
					<a href="https://www.linkedin.com/in/nicolas-julian-torres-torres-0b0075198/" class=" text-slate-400"> LinkedIn</a>
				</div>
				<div class="ml-3 outline outline-offset-0 outline-orange-300 rounded-full py-1 px-4 outline-1 flex flex-row">
					<Icon class="iconcenter" name="mdi:github" />
					<a href="https://github.com/JulianTorres1" class=" text-slate-400"> Github</a>
				</div>
				<div class="ml-3 outline outline-offset-0 outline-orange-300 rounded-full py-1 px-4 outline-1 flex flex-row">
					<Icon class="iconcenter" name="mdi:file-download" />
					<a href="#" class=" text-slate-400"> Download CV</a>
				</div>
		</div>

		<ul role="list" class="link-card-grid">
			<Card
				href="https://github.com/JulianTorres1/SumaDeMatricesJava"
				title="Matrix Addition with Java"
				body="A Java program that performs various operations with matrices."
			/>
			<Card
				href="https://github.com/JulianTorres1/Portfolio-inprogres-"
				title="Other Portfolio"
				body="Other of my portfolio based on react, javascript, and chakra UI. "
			/>
			<Card
				href="https://github.com/JulianTorres1/ProjectoPoo"
				title="POO And Curd Java App"
				body="A Programing Object Oriented Crud developed for my University (UDC)."
			/>
			<Card
				href="#"
				title="Working On ... "
				body="I'm curruently working a diferent kind of project. :D"
			/>
		</ul>
					
		<div class="mt-20" >
			<Footer/>
		</div>
		

	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 3rem;
		font-weight: 700;
		line-height: 1;
		text-align: start;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
	.meimg {
		height: 15rem;
		width: 15rem;
	}
	.iconcenter {
		margin-top: 5px;
		margin-right: 6px;
		
	}
</style>
