---

---



<nav class="

  shadow-xl
  border-gray-200 
  dark:bg-gray-900

  ">
  <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
      <a href="https://flowbite.com" class="flex items-center space-x-3 rtl:space-x-reverse">
          <h1 class="
            text-gray-200
            text-xl
          " >
          <span class="bg-amber-500 inline-block text-transparent bg-clip-text text-xl">
            &lt;
            </span>
          Torres /
          <span class="bg-amber-500 inline-block text-transparent bg-clip-text text-xl">
            &gt;
            </span>
        </h1>
      </a>
      <div class="flex items-center space-x-6 rtl:space-x-reverse">
          <a href="#" class="text-sm  text-green-500 dark:text-white hover:underline">Ready To Work!</a>
          <a href="https://api.whatsapp.com/send?phone=573008606621&text=Hi%2C%20Nicolas%20I%20need%20some%20help" class="text-sm  text-blue-600 dark:text-blue-500 hover:underline">Text Me!</a>
      </div>
  </div>
</nav>
